@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
html {
    padding: 0;
    margin: 0;
    font-family: lato;
    background-color: transparent;
    background-size: cover
}

body {
    margin: 0px;
    padding: 0px;
    background-color: none!important;
    background-image: url('../img/background/sky1.png')!important;
    background-size: cover;
    background-position: center;
}

.invert {
    filter: invert(100%);
}

.main-content {
    position: relative;
    z-index: 30;
    margin: 5% 15%;
}

.main-content .info-table {
    display: table;
}

.main-content .info-box {
    display: table-cell;
    vertical-align: middle;
}

.main-content .info-box .background .info-content {
    margin: 3vh;
}

.main-content .info-box .background {
    background-color: white;
    opacity: 0.9;
    border-radius: 1vh;
    border: 2vh black solid;
    padding: 1vh;
}

.info-content .links {
    padding-top: 1vh;
}

.main-content .profile {
    opacity: 0.95;
    float: right;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.main-content .profile .rounded-circle {
    background-color: black;
    border: 2vh solid black;
}

.main-content .name {
    font-size: 7vh;
    font-weight: 700;
}

.main-content .profession {
    font-size: 3.5vh;
    font-weight: 400;
}

.main-content .info-item {
    font-size: 3vh;
    font-weight: 400;
    margin-right: 3vh;
    color: rgb(150, 150, 150);
}

.main-content .info-item:hover {
    color: black;
}

@media screen and (max-width: 767px) {
    .main-content .info-table {
        margin-bottom: 5vh;
    }
}

.projects-background {
    background-image: url("../img/background/sky2.png")!important;
    background-position: top left;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.text-wrapper {
    animation-delay: 0s;
    animation-duration: 2s;
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

a:hover {
    text-decoration: none!important;
}

.card {
    background-color: #000;
    border: 5px solid black;
}

.card-title {
    margin: 0;
}

.card-body {
    background-color: #282828;
    color: #fff;
}

.card-footer {
    background-color: #000;
}

.text-muted {
    color: #fff!important;
}

.card-deck {
    margin: 20px;
}

.card-columns {
    margin-top: 10px;
}

.home-nav {
    background-color: #000;
    text-align: center;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    cursor: default;
}

.home-nav ul {
    margin: 0;
    padding: 0;
}

.home-nav li {
    display: inline-block;
}

.home-nav a {
    color: #fff;
    padding: 0.2em 1em 0.2em 1em;
    margin: 0.6em 0.2em 0.6em 0.2em;
    font-weight: 600;
    border-radius: 8px;
    position: relative;
    display: block;
    text-decoration: none;
    outline: 0;
}

.home-nav a:hover {
    color: #5da9e9!important;
}