.project-video {
    object-fit: fill;
}

body {
    margin: 0px;
    padding: 0px;
    background: rgb(23, 21, 58);
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0px;
    left: 0px;
    background-color: rgb(23, 21, 58);
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-heading-title {
    padding: 6em 0px 2em;
}

.vertical-padding {
    padding: 6em 0px;
}

.diagonal-section {
    z-index: 30;
    position: relative;
    opacity: 0.9;
    transform: skewY(-2deg);
}

.footer-section {
    margin-top: -2em;
    padding: 2em 0px;
    opacity: 1;
}

.foreground {
    z-index: 3;
    position: relative;
}

.white-bg {
    background: white;
}

.transparent-bg {
    background: transparent;
}

.black-bg {
    background: black;
}

.diagonal-section-content {
    padding: 5em 0px;
    transform: skewY(2deg);
}

header,
section {
    z-index: 3;
    position: relative;
    overflow: hidden;
}

.dark-blue-bg {
    background: transparent;
}

.faq-bubble {
    padding-bottom: 2em;
}

.zoom {
    transition: transform 0.2s ease 0s;
}

.zoom:hover {
    transform: scale(1.1);
}

.descriptor {
    margin-bottom: 1em;
}

.img-box {
    display: inline-block;
    width: 75%;
}

.top-borders {
    border-top-right-radius: 3em;
    border-top-left-radius: 3em;
}

.bottom-borders {
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;
}

.workshop-item {
    width: 100%;
    height: 100%;
    border-radius: 6em;
    overflow: hidden;
}

.border-box {
    margin-bottom: 2em;
}

.workshop-item-image {
    border: 0px;
    padding: 0!important;
    margin: 0!important;
}

.workshop-item-textbox {
    border: 0px;
    padding: 3% !important;
    background-color: rgb(22, 22, 22) !important;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0px 8px;
}

.image-showcase {
    z-index: 3;
    position: relative;
}

@media (min-width: 991.98px) {
    #team {
        margin-right: 7em;
    }
}

@media (max-width: 1200px) {
    .front-image-box {
        margin-bottom: 7em;
    }
    .first-image {
        margin-bottom: 8em;
    }
}

.card {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
}

.container {
    padding: 0px 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.col-xl-4 {
    margin-bottom: 1em;
}

.team-card {
    height: 100%;
}

.team-image {
    border-top-right-radius: 3em;
    border-top-left-radius: 3em;
}

.team-textbox {
    height: auto;
    background: black;
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;
}

.team-name {
    padding: 0.5em;
    margin: 0px;
}

.team-study {}

.team-social {
    padding-bottom: 0.5em;
}

.social-button {
    margin: 0.5em;
}

.accessible {
    position: relative;
    z-index: 2;
}

.custom-tooltip {
    position: relative;
    display: inline;
}

.custom-tooltip .custom-tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0px;
    position: absolute;
    z-index: 1;
    top: 280%;
    left: 15%;
    margin-left: -60px;
}

.custom-tooltip .custom-tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black;
}

.custom-tooltip:hover .custom-tooltiptext {
    visibility: visible;
}

#mlh-trust-badge {
    display: block;
    position: fixed;
    top: 0px;
    width: 10%;
    z-index: 10000;
    max-width: 120px !important;
    min-width: 50px !important;
    right: 10px !important;
}

@media (max-width: 991.98px) {
    .navbar-toggler {
        margin-right: 4em !important;
    }
    nav {
        width: 100%;
    }
    #navbar-container,
    #navbar-top-menu {
        width: 100%;
    }
    .subscribe-for-updates {
        font-size: 3.5vw !important;
    }
    .container {
        width: 100%;
    }
    .navbar-toggler {
        align-self: inherit;
        position: initial;
    }
    .navbar-brand {
        display: inline-flex;
    }
    #mainNav {
        background-color: transparent;
    }
    .navbar {
        padding: 0px;
    }
    .navbar-collapse {
        width: 100%;
    }
    .projects-section .project-text {
        padding: 3% !important;
    }
    .project-text {
        padding: 3% !important;
    }
    #mainNav .navbar-toggler {
        color: rgb(240, 176, 54);
        border: 2px solid rgb(204, 204, 204);
        border-radius: 30px;
    }
    #mainNav .navbar-toggler:hover,
    #mainNav .navbar-toggler:focus {
        color: rgb(240, 176, 54);
        border-color: rgb(240, 176, 54);
    }
    #mainNav .navbar-toggler:active {
        color: rgb(160, 117, 36);
        border-color: rgb(160, 117, 36);
    }
    #mainNav.navbar-shrink .nav-link {
        text-align: center;
    }
    #navbar-buttons li {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    .btn-primary {
        margin-bottom: 50px !important;
    }
}

.subscribe-for-updates {
    font-size: 2vw;
}

.no-select {
    user-select: none;
}

#mainNav .nav-link {
    -webkit-text-fill-color: white;
    padding: 1.5rem 1.5rem 1.25rem;
    border: 0px;
}

#mainNav .nav-link:hover {
    -webkit-text-fill-color: white;
}

#mainNav .navbar-brand {
    -webkit-text-fill-color: white;
}

#mainNav {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.5s ease-in-out 0s;
}

#mainNav.navbar-shrink {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid white;
    transition: all 0.5s ease-in-out 0s;
}

#mainNav.navbar-shrink .nav-link {
    color: rgb(22, 22, 22);
    padding: 1.5rem 1.5rem 1.25rem;
    border: 0px;
}

#mainNav.navbar-shrink .nav-link.active {
    -webkit-text-fill-color: rgb(255, 255, 255);
    border: 0px;
}

.title-icon {
    width: 64px;
    height: 64px;
    background: url("../img/icon.png") 0% 0% / 64px 64px;
}

.hidden-anchor {
    position: relative;
    top: -15px;
}

@font-face {
    font-family: Title;
    src: url("../font/NexaBold.woff2") format("woff2"), url("../font/NexaBold.woff") format("woff"), url("../fonts/NexaBold.svg") format("svg"), url("../fonts/NexaBold.ttf") format("truetype"), url("../fonts/NexaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaBold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ProximaRegular;
    src: url("../font/ProximaNovaRegular.otf");
    font-weight: normal;
}

@font-face {
    font-family: SubBtnText;
    src: url("../font/ProximaNovaBold.otf");
    font-weight: normal;
}

.inline {
    display: inline-block;
}

.projects-section .project-text hr {
    border-color: rgb(50, 173, 255);
}

.projects-section .project-text {
    padding: 10%;
}

.masthead h2,
.sub-heading {
    text-align: center;
    font-family: Title;
    color: white;
    font-size: 2rem;
}

p {
    margin: 0px;
}

.nexa {
    font-family: Title;
}

.black {
    color: rgb(0, 0, 0) !important;
}

.orange,
.orange-hover {
    color: rgb(240, 176, 54) !important;
}

.orange-hover:focus,
.orange-hover:hover {
    text-decoration: none;
    color: rgb(160, 117, 36) !important;
}

.blue {
    color: rgb(100, 161, 157) !important;
}

.white {
    color: rgb(255, 255, 255) !important;
}

.masthead h1,
.title-text {
    font-family: Title;
    text-align: center;
    opacity: 1;
    background: url("../img/title-scrolling.png") repeat-x text;
    -webkit-text-fill-color: transparent;
    animation: 150s linear 0s infinite normal none running animate;
}

@keyframes animate {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -10000px 0px;
    }
}

.mb-5,
.my-5 {
    margin-bottom: 2rem !important;
}

@media (min-width: 992px) {
    .masthead h2 {
        max-width: 40rem;
        font-size: 2rem;
    }
}

.btn-primary {
    background-color: rgb(240, 176, 54);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 30px;
    color: black;
    margin: 0px 8px;
    font-family: SubBtnText;
    font-size: 1.5rem;
    text-transform: none;
    letter-spacing: 0px;
}

.btn-primary:hover {
    background-color: rgba(240, 176, 54, 0.5);
    color: black;
}

.btn-primary:focus {
    color: rgb(136, 136, 136);
    background-color: rgba(240, 176, 54, 0.3) !important;
}

.btn-primary:active {
    background-color: rgba(240, 176, 54, 0.5) !important;
    color: rgb(136, 136, 136) !important;
}

.text-white-50 {
    color: white !important;
}

.card {
    border-radius: 50px;
}

#inputEmail {
    border-radius: 30px;
}

.masthead {
    z-index: 3;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding-top: 10rem;
    background: url("") center center / cover no-repeat scroll;
}

.nav-item {
    font-family: ProximaRegular;
}

#schedSat {
    display: inline-block;
}

#schedSun {
    display: inline-block;
}

.schedule .table {
    border-left: 0.8rem solid rgb(31, 31, 31);
    overflow-wrap: normal;
    margin-top: 10px;
}

.schedule {
    margin-top: 20px;
}

.table th {
    text-align: center;
    overflow-wrap: normal;
}

.table td {}

.table tbody tr td {
    vertical-align: middle;
    font-weight: 900;
    font-size: 1rem;
    width: 180px;
}

.schedule header div {
    font-family: Title;
    font-size: 6rem;
    text-align: right;
    vertical-align: middle;
    text-transform: capitalize;
}

.diagonal {
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    transform: skewY(-2deg);
    transform-origin: left top;
}

.diagonal-top {
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    transform: skewY(-2deg);
    transform-origin: right bottom;
}

.diagonal-text {
    position: relative;
    text-align: center;
}

.sponsors-container {
    padding: 1rem 30px 1.5rem;
    background: white;
}

.sponsor-tier {}

.sponsor-img-container {
    padding-bottom: 8em;
}

.sponsors-img {
    width: 20%;
    height: 30%;
    margin: 2rem 2rem 1rem;
    vertical-align: middle;
}

@media screen and (max-width: 480px) {
    .sponsors-img-container {
        width: 100%;
    }
    .sponsors-img {
        width: 60%;
    }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
    .sponsors-img-container {
        width: 33%;
    }
    .sponsors-img {
        width: 30%;
    }
}

.mb-5,
.my-5 {
    margin-bottom: 0px !important;
}

#mainNav .nav-link:hover {
    -webkit-text-fill-color: rgb(240, 176, 54) !important;
}

#mainNav .navbar-nav .nav-item:hover {
    color: rgb(240, 176, 54) !important;
}

#mainNav.navbar-shrink .nav-link:hover {
    color: rgb(240, 176, 54) !important;
}

*,
:before,
:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: white;
    /* background-image: url("../img/shuttle.png")!important; */
}

.hide {
    display: none;
}

.page__style {
    background: #ccc;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: auto auto;
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.page__style .page__description {
    text-align: center;
}

.header-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.video-container {
    position: absolute;
    height: 100vh;
}

.frontpagevideo {
    object-fit: cover;
    background-size: 100%;
    height: 100%;
    width: 100vw;
}

.text-container {
    display: table;
    width: 100%;
    height: 100%;
}

.text-wrapper {
    animation-delay: 0s;
    animation-duration: 2s;
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

#title-name,
#description {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#description {
    padding: 0.8em;
}

#description-background {
    margin: 0 2em;
    transition: background-color 3s;
}

.headshot {
    opacity: 0.9;
    display: block;
    height: 20em;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 0 0 0 4em;
    display: inline-block;
    border: 5px solid white;
}

.image-container {
    margin: 1% 0 1% 2%;
    float: left;
    width: 32%;
}

.custom-nav {
    background-color: #282828;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    cursor: default;
}

.custom-nav ul {
    margin: 0;
}

.custom-nav li {
    display: inline-block;
}

.custom-nav a {
    color: #fff;
    padding: 0.2em 1em 0.2em 1em;
    margin: 0.6em 0.2em 0.6em 0.2em;
    font-weight: 600;
    border-radius: 8px;
    position: relative;
    display: block;
    text-decoration: none;
    outline: 0;
}

.custom-nav a:hover {
    color: #5da9e9!important;
}

.active-button {
    color: #5da9e9!important;
}

.animate_content {
    animation: animate 3s ease;
}

.fadeIn {
    z-index: 10;
}

.home {
    /* background: #5da9e9; */
    /* background-image: url("../img/shuttle.png")!important; */
    background: #ccc;
}

.projects {
    /* background: #bd5de9; */
    background: #ccc;
}

.cv {
    /* background: #fb9b33; */
    background: #dbe5ec;
}

.contact {
    /* background: #c9cdc0; */
    /* background: #363333; */
    background: #afb2b8;
}


/* Large devices (desktops, less than 1200px) */

@media screen and (max-width: 1199.98px) {
    #front-page-container {
        margin-top: 6em;
    }
    .navbar {
        display: flex;
    }
    .navbar-border-line {
        display: none;
    }
    .headshot {
        margin: 0;
    }
    .custom-nav a {
        font-size: 1.6em;
    }
    #title-name {
        font-size: 3.5em;
    }
    #description {
        padding: 0.5em;
        font-size: 1.5em;
    }
    #description-background {
        margin: 0!important;
    }
    .spacing-break {
        display: none;
    }
}


/* Medium devices (tablets, less than 992px) */

@media screen and (max-width: 991.98px) {
    #title-name {
        font-size: 5em;
    }
    #description {
        font-size: 2.5em;
    }
    #front-page-container {
        margin-top: 0;
    }
}


/* Small devices (landscape phones, less than 768px) */

@media screen and (max-width: 767.98px) {}


/* Extra small devices (portrait phones, less than 576px) */

@media screen and (max-width: 575.98px) {}

@-moz-keyframes animate {
    10% {
        transform: scale(1, 0.002);
    }
    35% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    50% {
        transform: scale(0.2, 0.002);
        opacity: 0;
    }
    85% {
        transform: scale(1, 0.002);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes animate {
    10% {
        transform: scale(1, 0.002);
    }
    35% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    50% {
        transform: scale(0.2, 0.002);
        opacity: 0;
    }
    85% {
        transform: scale(1, 0.002);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
    }
}

@-o-keyframes animate {
    10% {
        transform: scale(1, 0.002);
    }
    35% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    50% {
        transform: scale(0.2, 0.002);
        opacity: 0;
    }
    85% {
        transform: scale(1, 0.002);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes animate {
    10% {
        transform: scale(1, 0.002);
    }
    35% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    50% {
        transform: scale(0.2, 0.002);
        opacity: 0;
    }
    85% {
        transform: scale(1, 0.002);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
    }
}

.workshop-item-textbox {
    background-color: black!important;
}